﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
</head>
<body>
    <div> 
        <form method="post">
            <label>Password: <input id="password" name="Password" /></label>
            <label>Confirm Password: <input id="confirmPassword" name="ConfirmPassword" /></label>
            <input hidden name="Token" id="token" value="@ViewBag.Token" />
        </form>
    </div>
    <div style="margin-top: 10px; margin-left: 400px">
        <button onclick="changePassword()">Change Password</button>
    </div>
</body>
</html>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    function changePassword() {
        $.ajax({
            url: "/AccountManager/Manage/SetPassword",
            type: "json",
            method: "POST",
            data: {
                Password: $("#password").val(),
                ConfirmPassword: $("#confirmPassword").val(),
                Token: $("#token").val()
            },
            success: function (res) {
                if (res.status == "error") {
                    alert(res.message);
                    return;
                }

                alert("You successfully changed your password");
            }
        })
    }
</script>
